* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
    color: inherit;
    background-color: rgb(218, 218, 218);
}

.info {
    display: flex;
    height: 10vh;
    width: 100vw;
    justify-content: space-around;
}

.logo {
    width: 20%;
}

.menu {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: rgb(71, 71, 71);
}

.menu li {
    margin-right: 10px;
}

.navbar {
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: space-around;

}

.nav-list {
    display: flex;
    background-color: white;
}

.nav-list li {
    margin: 15px;
    background-color: white;
}

.nav-list a {
    color: rgb(0, 0, 0);
    font-weight: lighter;
    font-size: 16px;
    background-color: white;
}

.menu-toggle {
    cursor: pointer;
}

.offer ul {
    padding: 20px;
    display: flex;
    text-transform: capitalize;
}

.offer ul li {
    padding: 5px;
}

.green {
    color: green;
}

.navbardos ul {
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}

.navbardos ul li {
    color: white;
    background-color: green;
    padding: 10px;
    margin-right: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: 50px;
    padding-left: 150px;
    max-width: 80%
}

.grid-item {
    text-align: left;
    background-color: white;
}

.grid-item h2,
.grid-item p {
    background-color: white;
    text-transform: capitalize;
    font-weight: lighter;
    padding-left: 20px;
}

.grid-item p {
    color: grey;
    padding-bottom: 30px;
}

.grid-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.grid-info {
    display: flex;
    background-color: white;
    justify-content: space-between;
    color: green;
    padding: 10px;
}

button {
    background-color: #ffffff;
    color: green;
    padding: 10px 20px;
    border: 1px solid green;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: green;
    color: black;
}

button a {
    background-color: inherit;
}




@media only screen and (max-width: 900px) {
    .info {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 50%;
        margin-bottom: 15px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        margin: 5px 0;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .nav-list a {
        font-size: 14px;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        color: rgb(71, 71, 71);
        font-size: 24px;
    }

    .offer ul {
        padding: 10px;
    }

    .offer ul li {
        padding: 5px;
    }

    .navbardos ul {
        flex-direction: column;
        align-items: center;
    }

    .navbardos ul li {
        margin: 10px 0;
        margin-right: 0;
    }

    .grid {
        grid-template-columns: 1fr;
        padding-left: 20px;
        padding-right: 20px;
    }
}

